@tailwind base;
@tailwind components;
@tailwind utilities;


.reactEasyCrop_CropArea {
    width: 12rem !important; /* Adjusted for mobile */
    height: 12rem !important;
    border-radius: 50% !important;
  }
  
  @media (min-width: 640px) { /* sm breakpoint */
    .reactEasyCrop_CropArea {
      width: 20rem !important;
      height: 20rem !important;
    }
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }



.profileForm .react-tel-input .form-control ,.profileForm input ,.profileForm select {
  height: 41.78px !important;
}

@media (max-width: 640px) {
  .react-tel-input .country-list {
    width: 186px !important;
  }
}
